.profil__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0;
}

.profil__detail {
    flex: 1;
    padding-right: 5rem;
    text-align: right;
}

.profil__photo {
    flex: 1;
    padding-left: 5rem;
    text-align: left;
}

.profil__photo>img {
    width: 200px;
    height: 200px;
}

.sosmed__container {
    padding: 1rem 0;
}

.sosmed>i {
    font-size: 3rem;
    color: black;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 800px){
    .profil__detail,
    .profil__photo {
        padding: 1rem;
        text-align: center;
    }
}